<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Thymeleaf</title>
</head>
<body>
<h1>Все должности в компании</h1>
<tbody>
<tr th:each="element : ${dolgnosti}">
    <td th:text="${element.nazvanie_Dolgnosti}"><br></td>
    <td th:text="${element.oklad}"><br></td>
    <td th:text="${element.kategoriya}"><br></td>
</tr>
</tbody>
<h2>Добавление новой должности</h2>>






<h1 th:text="'Hello Thymeleaf!'">Hello sample</h1>
</body>
</html>